#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* App.css */
.admin-link {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: #555;
  color: white;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.admin-link:hover {
  background-color: #777;
}

.hidden-scrollbar {
  margin-top: 2rem;
  height: 400px;
  overflow-y: auto;
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem;
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE/Edge */
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari */
}
